<div>first_name: 	<span class="first_name"><%= account_info.first_name %></span></div>
<div>last_name: 	<span class="last_name"><%= account_info.last_name %></span></div>
<div>full_name: 	<span class="full_name"></span></div>
<div>url: 				<span class="url"><%= account_info.url %></span></div>
